 
 html {
  scroll-behavior: smooth;
}
 
 header {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff; /* text white for contrast */
  padding: 80px 20px; /* upar niche padding */
}
.my-image{
  border: 2px solid red;
  box-shadow: 3px 3px 2px yellow;
}

header h1 {
  color: #343a40;
}

header p {
  color: #555;
}

header img {
  border: 5px solid #fff;
}
.lead{
  color: #fff;
}
 .servise{
  background: linear-gradient(rgb(165, 150, 150),rgb(227, 197, 197),rgb(234, 234, 199)
  );
  backdrop-filter: blur(20%);
  -webkit-backdrop-filter: blur(30%);
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
 }
 

 
 
 
 
 
